form {
  display: grid;
  grid-template-columns: 12rem 1fr 4rem;
  max-width: 80rem;
  grid-gap: 8px 8px;
}
input {
  font-family: "Lucida Console", Monaco, "Courier New", Courier, monospace;
}
.label {
  font-weight: bold;
}
#createSubmenusRow {
  grid-column: span 3;
}
#btnGroup {
  grid-column: span 3;
}
